<section class="container-fluid d-flex justify-content-evenly mt-5">
  <form class="col-4">
    <h1 class="text-danger">{{ parentTitle }}</h1>
    <div class="mb-3">
      <input #name type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <input #surname type="text" class="form-control" />
    </div>
    <div>
      <button
        type="button"
        (click)="TransferData(name.value, surname.value)"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
    <span>{{ response }}</span>
  </form>
  <div class="col-4">
    <app-child
      [nameData]="inputName"
      [surnameData]="inputName2"
      [objData]="inputObj"
      (dataupdateevent)="updateTitle($event)"
    ></app-child>
  </div>
</section>
