<h1 class="text-danger">Child</h1>
<p>My name is <b>{{objData.name}} {{objData.surname}}</b></p>


<table class="table table-bordered text-center">
    <thead>
        <th>Name</th>
        <th>Surname</th>
    </thead>
    <tbody *ngFor="let list of listArr">
        <td>{{list.name}}</td>
        <td>{{list.surname}}</td>
    </tbody>
</table>

<input #name type="text" class="form-control mt-5">     <!--Here we will change the H1 tag ( on click of child we will change in parent)-->
<button type="submit" class="btn btn-primary mt-3" (click)="dataupdateevent.emit(name.value)">Click</button>
